@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Data.Models.ConfigurationAttribute


<div class="form-group">
    <label class="col-md-3 control-label"><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="" data-original-title="@Model.Attribute.Tooltip"></span> @Model.Attribute.Name</label>
    <div class="col-md-1">
        <div class="material-switch form-control-switch">
            <input id="someSwitchOptionDefault" name="someSwitchOption001" value="@Model.Value" type="checkbox" />
            <label for="someSwitchOptionDefault" class="label-default"></label>
        </div>
    </div>
</div>