<div id="crosshair" class="tab-pane fade">

    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Setting Name</label>
                <div class="col-md-8">
                    <input class="form-control" type="range" min="0" max="255" step="1" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Setting Name</label>
                <div class="col-md-8">
                    <input class="form-control" type="range" min="0" max="255" step="1" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Setting Name</label>
                <div class="col-md-8">
                    <input class="form-control" type="range" min="0" max="255" step="1" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Setting Name</label>
                <div class="col-md-8">
                    <input class="form-control" type="range" min="0" max="255" step="1" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Setting Name</label>
                <div class="col-md-8">
                    <input class="form-control" type="range" min="0" max="255" step="1" />
                </div>
            </div>
        </div>
    </div>

</div>