<div id="keybind" class="tab-pane fade">

    <div class="row">
        <div class="col-md-7">
            <h4>Keyboard</h4>
            <hr />
            <div class="keyboard">

                <div class="keyboard-main">

                    <div class="keyboard-row">
                        <button class="keyboard-key key-binded key-spacing-right">Esc</button>
                        <button class="keyboard-key key-binded">F1</button>
                        <button class="keyboard-key key-binded">F2</button>
                        <button class="keyboard-key key-binded">F3</button>
                        <button class="keyboard-key key-binded key-spacing-right">F4</button>
                        <button class="keyboard-key key-binded">F5</button>
                        <button class="keyboard-key key-binded">F6</button>
                        <button class="keyboard-key key-binded">F7</button>
                        <button class="keyboard-key key-binded key-spacing-right">F8</button>
                        <button class="keyboard-key key-binded">F9</button>
                        <button class="keyboard-key key-binded">F10</button>
                        <button class="keyboard-key key-binded">F11</button>
                        <button class="keyboard-key key-binded">F12</button>
                    </div>

                    <div class="keyboard-row">
                        <button class="keyboard-key key-binded">#</button>
                        <button class="keyboard-key key-binded">1</button>
                        <button class="keyboard-key key-binded">2</button>
                        <button class="keyboard-key key-binded">3</button>
                        <button class="keyboard-key key-binded">4</button>
                        <button class="keyboard-key key-binded">5</button>
                        <button class="keyboard-key key-binded">6</button>
                        <button class="keyboard-key key-binded">7</button>
                        <button class="keyboard-key key-binded">8</button>
                        <button class="keyboard-key key-binded">9</button>
                        <button class="keyboard-key key-binded">0</button>
                        <button class="keyboard-key key-binded">-</button>
                        <button class="keyboard-key key-binded">=</button>
                        <button class="keyboard-key key-binded key-backspace">←</button>
                    </div>

                    <div class="keyboard-row">
                        <button class="keyboard-key key-binded key-tab">Tab</button>
                        <button class="keyboard-key key-binded">Q</button>
                        <button class="keyboard-key key-binded">W</button>
                        <button class="keyboard-key key-binded">E</button>
                        <button class="keyboard-key key-binded">R</button>
                        <button class="keyboard-key key-binded">T</button>
                        <button class="keyboard-key key-binded">Y</button>
                        <button class="keyboard-key key-binded">U</button>
                        <button class="keyboard-key key-binded">I</button>
                        <button class="keyboard-key key-binded">O</button>
                        <button class="keyboard-key key-binded">P</button>
                        <button class="keyboard-key key-binded">^</button>
                        <button class="keyboard-key key-binded">¸</button>
                        <button class="keyboard-key key-binded key-backslash">\</button>
                    </div>

                    <div class="keyboard-row">
                        <button class="keyboard-key key-binded key-caps">Caps</button>
                        <button class="keyboard-key key-binded">A</button>
                        <button class="keyboard-key key-binded">S</button>
                        <button class="keyboard-key key-binded">D</button>
                        <button class="keyboard-key key-binded">F</button>
                        <button class="keyboard-key key-binded">G</button>
                        <button class="keyboard-key key-binded">H</button>
                        <button class="keyboard-key key-binded">J</button>
                        <button class="keyboard-key key-binded">K</button>
                        <button class="keyboard-key key-binded">L</button>
                        <button class="keyboard-key key-binded">;</button>
                        <button class="keyboard-key key-binded">`</button>
                        <button class="keyboard-key key-binded key-enter">↵</button>
                    </div>

                    <div class="keyboard-row">
                        <button class="keyboard-key key-binded key-shift">⇧</button>
                        <button class="keyboard-key key-binded">Z</button>
                        <button class="keyboard-key key-binded">X</button>
                        <button class="keyboard-key key-binded">C</button>
                        <button class="keyboard-key key-binded">V</button>
                        <button class="keyboard-key key-binded">B</button>
                        <button class="keyboard-key key-binded">N</button>
                        <button class="keyboard-key key-binded">M</button>
                        <button class="keyboard-key key-binded">,</button>
                        <button class="keyboard-key key-binded">.</button>
                        <button class="keyboard-key key-binded">É</button>
                        <button class="keyboard-key key-binded key-shift">⇧</button>
                    </div>

                    <div class="keyboard-row">
                        <button class="keyboard-key key-binded key-left-ctrl">Ctrl</button>
                        <button class="keyboard-key key-binded key-left-alt">Alt</button>
                        <button class="keyboard-key key-binded key-space">Space</button>
                        <button class="keyboard-key key-binded key-right-alt">Alt</button>
                        <button class="keyboard-key key-binded key-right-ctrl">Ctrl</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="spacer20"></div>
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4">
                    <h4>Control & Arrow Pad</h4>
                    <hr />
                    <div class="keyboard-control-arrow-pad">

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                        <div class="keyboard-row"></div>

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Num Pad</h4>
                    <hr />

                    <div class="keyboard-num-pad">

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>

                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>

                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>

                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                        <div class="keyboard-row"></div>

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>

                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                        <div class="keyboard-row">
                            <button class="keyboard-key key-binded">F10</button>
                            <button class="keyboard-key key-binded">F11</button>
                            <button class="keyboard-key key-binded">F12</button>
                            <button class="keyboard-key key-binded">F12</button>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Num Pad</h4>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
